* {
  text-align: center;
}
#titulo {
  text-align: left;
}
#imagen {
  margin-top: 10px;
  width: 200px;
  height: 180px;
}
#input1{
    margin-top: 18px;
    font-size: 20px;
}
#input2{
    margin-top: 10px;
    font-size: 20px;
}