* {
  text-align: center;
}
#titulo {
  text-align: left;
}
#input1 {
  margin-top: 35px;
  font-size: 20px;
}
#input2 {
  margin-top: 25px;
  font-size: 20px;
}
#btn1 {
  left: 30%;
  margin: 45px 50px 0px 50px;
  font-size: 20px;
}
#text {
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}
#link {
  font-size: 15px;
  color: inherit;
}
#imagen {
  margin-top: 50px;
  width: 200px;
  height: 180px;
}
